/************** MOBILE FRIST ***************/
  button.plus-item btn btn-primary input-group-addon{
    color:yellow;
  }
  body::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0  rgba(0,0,0,0.1s);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: var(--dark-background);
  }

  body::-webkit-scrollbar
  {
      width: 10px;
      border-radius: 10px;
      background-color: var(--dark-background);
  }

  body::-webkit-scrollbar-thumb /*colore barra scorrimento*/
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1s);
      box-shadow: inset 0 0 6px  rgb(0, 0, 0);
      background-color: var(--note);
  }
body> header img{
    height: 100%;
    width: 100%;
}

div.text-end{
    display: inline-flex;
}

button>.me-2{
    margin-right: none !important;
}

body>div.container-lg.my-5>div{
   background-color: rgb(255, 255, 255);
}
header div.col-12.d-flex div.col-3.p-l-5 div.container.col-12{
    display: none;
}
header div.col-12.d-flex div.col-3.p-l-5 div.col-12{
    margin: 100px;
    display: inline;
}
header{
    display: none;
}

div.col-lg-4>img{
    height: 100%;
    width: 100%;
}
footer, footer.py-5>div.row{
    display:inline-flex;
  }

#cb-cookie-banner {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
 }

 #topBtn {
    display: none;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 999; /* Make sure it does not overlap */
  }

.form-signin {
    max-width: 700px;
    padding: 15px;
    margin: auto;
}
   .form-signin .checkbox {
    font-weight: 400;
}

  .form-signin .form-floating:focus-within {
    z-index: 2;
}

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.checkbox:checked{
    background-color: rgb(253, 193, 64);
}

/** Css per il login**/
::-ms-reveal {
    display: none;
  }

  button#toggle-password:active,
  button#toggle-password:focus,
  button#toggle-password:hover {
    cursor: pointer;
  }

  button#toggle-password:focus {
    outline: none !important;
  }

   .input-password {
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }


  .fade {
    margin: 50px;
    padding: 50px;
    opacity: 1;
  }

  a:link {
    color: rgb(253, 193, 64);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 238, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 187, 0);
    background-color: transparent;
    text-decoration: underline;
  }

 @media only screen and (min-width: 768px) and (max-width: 992px){

    header div.col-3.p-l-5:last-child{
        display: inline;
        font-size: medium;
    }
    body>header ul{
        font-size: 0.7rem;
    }
    body> header > div img{
        height: 100%;
    }
    header div.col-3.p-l-5:last-child{
        display: inline;
    }
    div.container{
        display: inline;
    }



/********** MEDIA QUERY ************/
@media only screen and (min-width: 993px) and (max-width: 1199px) {
    /************ SCHERMO TABLET NON CONSIDERO L'ORENTATION LANDSCAPE ***********/


    header div.col-3.p-l-5:last-child{
        display: inline;
        font-size: medium;
    }
    body> header > div img{
        height: 100%;
    }
    footer, footer.py-5>div.row{
        display:inline-flex;
    }
    }


@media screen and (min-width: 1200px){
    body> header > div img{
        height: 100%;
    }
    header div.col-3.p-l-5:last-child{
        display: inline;
        font-size: medium;
    }
    div.container{
        display: inline;
    }
    footer, footer.py-5>div.row{
        display:inline-flex;
    }
}
}
