/************** MOBILE FRIST ***************/
body> header > div img{
    height: 197px;
}

div.container1{
    display: none;
}

button>.me-2{
    margin-right: none !important;
}

body:nth-child(2){
background-color: rgb(34, 37, 41);
}

body>div.container.my-5>div{
    background-color: rgb(255, 255, 255);
    margin: 10px;

}
div.container-fluid{
    margin-left: 3.5rem;
}
button.btn.btn-outline-light,header button.btn.btn-warning {
    display: none;
}

div.col-lg-4>img{
    height: 100%;
    width: 100%;
}
footer{
  display:block;
  text-align: center;

}
footer.py-5 div.row:last-child{
    display:block;
    text-align: center;
  }


@media only screen and (min-width:768px) and (max-width: 992px){

    header nav.navbar{
        display: none;
    }
    button.btn.btn-outline-light, header button.btn.btn-warning {
        font-size: 0.7rem;
        display: inline;
        text-align: end;
    }
    body>header ul{
        font-size: 0.7rem;
    }

    body> header > div img{
        height: 220px;
    }


    div.container1{
        display: inline;
    }
   
    footer.py-5>div.row{
        display:inline-flex;
      }
}


/********** MEDIA QUERY **************/
@media only screen and (min-width:993px) and (max-width: 1199px) {
    /************ SCHERMO TABLET NON CONSIDERO L'ORENTATION LANDSCAPE *************/
    header nav.navbar{
        display: none;
    }
    button.btn.btn-outline-light, header button.btn.btn-warning {
        font-size: 1rem;
        display: inline;
        text-align: end;
    }
    body> header > div img{
        height: 300px;
    }

    footer.py-5>div.row{
        display:inline-flex;
        text-align: center;
      }

    div.container1{
        display: inline;
    }
}
@media screen and (min-width:1200px){

    body> header > div img{
        height: 400px;
    }


    div.container1{
        display: inline;
    }
    header nav.navbar{
        display: none;
    }
    
    button.btn.btn-outline-light, header button.btn.btn-warning {
        display: inline;
        font-size: 1rem;
        text-align: end;
    }

    footer.py-5>div.row{
        display:inline-flex;
      }
    /*
    nav{
        margin: 0 10%;
    }
    
    nav ul li{
        width: 19%;
    }

    nav ul li:not(:last-child){
       margin-right: 8%; 
    }

    main, aside{
        display: inline-block;
        vertical-align: top;
    }

    main{
        width: 50%;
        margin: 20px 5% 0 10%;
    }

    aside{
        width: 25%;
        margin: 20px 10% 0 0;

    }

    form ul{
        width: 50%;
        margin: 0 25%;
    }

    table{
        width: 80%;
        margin: 0 10%;    
    }*/
}