@media only screen and (min-width: 993px) and (max-width: 1199px) {
    /************ SCHERMO TABLET NON CONSIDERO L'ORENTATION LANDSCAPE *************/
    header nav.navbar{
        display: none;
    }
    header div.col-3.p-l-5:last-child{
        display: inline;
        font-size: medium;
    }
    body> header > div img{
        height: 300px;
    }

    footer, footer.py-5>div.row{
        display:inline-flex;
      } 
    /* div.container{  errore esterno dato dall'inline
        display: inline;
    } */
}